.logo-animation-div {
  width: 550px;
  height: 85px;
  background-color: #F7F7F7;
  padding: 10px;
  animation: fadeIn2 2s ease-out;
  animation-delay: 8s;
  margin: 25% auto 0 auto;
}
.divLeft {
  float: left;
  width: 85px;
  height: 85px;
}
.divRight {
  float: left;
  width: 455px;
  height: 90px;
}
.collectionOf3 {
  float: left;
  width: 445px;
  height: 60px;
  margin-top: 25px;
}
.divName {
  float: left;
  width: 445px;
  height: 37px;
}
.divChoice {
  float: left;
  width: 445px;
  height: 13px;
}
.divRedLine {
  float: left;
  width: 445px;
  height: 5px;
}
img.circle {
  width: 85px;
  animation: rotate 6s;
  border-radius: 50%;
}
img.aeroAndTech {
  width: auto;
  height: 38px;
  animation: fadeIn 6s;
}
img.line {
  float: left;
  width: 445px;
  animation: slideUp 6.5s;
}
img.choice {
    width: 140px;
  animation: slide 6s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3240deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    margin-left: 300px;
  }
  90% {
    opacity: 0;
    margin-left: 300px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    margin-top: 30px;
  }
  95% {
    opacity: 0;
    margin-top: 30px;
  }
  100% {
    opacity: 1;
    margin-top: 0; 
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}